SUPABASE_URL=https://lfzscfboshwygrkhxtpa.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmenNjZmJvc2h3eWdya2h4dHBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyNTc3NzIsImV4cCI6MjA0NTgzMzc3Mn0.Sx8UpUYk_J3eFakn4KpVyRWQhdc_9fQjwZSetuttIVce 